.nombre, .apellido, .edad, .empresa{
    display: block;
    border: 2px solid;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 125px;
    padding: 0.5rem;
    transition: border-color 0.5s ease-out;
}

#error-name{
    color: red;
}

#error-lastname{
    color: red;
}

body{
    background-color: lightseagreen
}

form{
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    background-color: lightseagreen;
    border: black;
}

.submit{
    border: 2px solid;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 125px;
    padding: 0.5rem;
    transition: border-color 0.5s ease-out;
    display: inline-block;
}