@model List<Lab.Capas.MVC.Models.ShipperView>

@{
    ViewBag.Title = "Shipper Index";
}

<h2>Shippers</h2>

<table class= "table table-hover">
    <tr>
        <th>ID</th>
        <th>Company</th>
        <th>Phone</th>
    </tr>
    @foreach(var Shipper in Model)
    {
        <tr>
            <td>@Shipper.ShipperID</td>
            <td>@Shipper.CompanyName</td>
            <td>@Shipper.Phone</td>
        </tr>
    }
</table>
<div>@Html.ActionLink("Insert new shipper in table", "Insert", "Shipper")</div>