@model Lab.Capas.MVC.Models.ShipperView
@{
    ViewBag.Title = "Insert new shipper";
}

<h2>Insert a new shipper</h2>
<p><b>DISCLAIMER: </b>The policy of the company states that the phone number of every shipper <b>MUST</b> have (503) as phone prefix.
    Failing to do this will cause the application to throw an exception in your face. This will be changed when the
    developer figures out an ellegant way to handle exceptions in MVC.</p>

@using (Html.BeginForm("Insert", "Shipper", FormMethod.Post))
{
    <div>Company Name: @Html.TextBoxFor(s=>s.CompanyName, new {@class="form-control"})</div>
    <div>Phone: @Html.TextBoxFor(s => s.Phone, new { @class = "form-control" })</div>
    <input type="submit" class="btn btn-success btn-lg" value="Save Changes"/>
}